absl-py
accelerate
annotated-doc
anyio
arabic-reshaper
av
beautifulsoup4
brnolm
bs4
certifi
charset-normalizer
click
contourpy
cycler
editdistance
filelock
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
ImageIO
imgaug
Jinja2
joblib
kiwisolver
lazy-loader
Levenshtein
llvmlite
lmdb
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
nltk
numba
numpy
opencv-python
packaging
peft
pero-ocr
pillow
psutil
pyamg
Pygments
PyMuPDF
pyparsing
python-dateutil
PyYAML
qwen-vl-utils
RapidFuzz
regex
requests
rich
rouge_score
safe-gpu
safetensors
scikit-image
scikit-learn
scipy
setuptools
shapely
shellingham
six
soupsieve
sympy
threadpoolctl
tifffile
tokenizers
torch
torchvision
tqdm
transformers
typer
typing_extensions
urllib3
